/build

#autotools
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing
test-driver
/Makefile
/config.log
/config.status
/ext/
flangc
lib*.a
/src/.deps/
/src/libast/.deps/
.dirstamp
*.o
*.Po
libtool

